// Colors
$app-background-color: #DAE3E7;

$header-background-color: #F5F5F5;
$header-border-color: #778491;
$header-title-color: #49515C;
$header-subtitle-color: #5D7080;
$header-icon-color: #B1B7C0;
$header-button-color: #58B952;

$section-title-color: #49515C;
$section-subtitle-color: #8B96A2;
$section-background-color: white;

$projects-button-color: #4B9FC6;
$projects-link-color: #06A24E;

// Fonts
$header-title-font: bold 38px Montserrat;
$header-subtitle-font: 24px Arial;
$header-button-font: bold 12px Arial;

$section-title-font: bold 24px Montserrat;
$text-font: 15px Arial;

$project-font: bold 18px Montserrat;
$project-featured-font: bold 20px Montserrat;